*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    position: fixed;
    z-index: 1000;
}
nav .left .logo img{
    width: 100px;
    margin: 5px 0;
    cursor: pointer;
}
nav .left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}   

nav .left .search_bar{
    width: 250px;
    height: 40px;
    background: #efefef;
    border-radius: 30px;
    padding: 0 10px;
    margin-left: 10px;
    position: relative;
    left: 15px;
}

nav .left .search_bar i{
    line-height: 40px;
    font-size: 19px;
    color: #919191;
    margin-right: 5px;
}
nav .left .search_bar i:hover{
    cursor: pointer;
}

nav .left .search_bar input{
    background: transparent;
    outline: none;
    border: 0;
    font-size: 16px;
    width: 200px;
}

nav .center{
    display: flex;
    align-items: center;
    position:relative;
    right: 45px;
    left: 45px;
}

nav .center i{
    margin: 0 45px 0 45px;
    font-size: 22px;
}

nav .center i:hover{
    color: #45abff;
    cursor: pointer;
}

nav .right{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
nav .right i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    padding-left: 8px;
    font-size: 18px;
    margin-left: 8px;
    cursor: pointer;
}
nav .right img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: 8px;
    line-height: 45px;
    cursor: pointer;
}


/*------------main--------------*/

.main{
    display: flex;
    margin-top: 60px;
    background-color: #f5f5f5;
}

.main .left{
    width: 25%;
    height: 92vh;
    overflow: hidden;
    overflow-y: scroll;
    background: #f5f5f5;
    padding: 20px 6px 5px 10px;
    position: fixed;
}

.main .left::-webkit-scrollbar{
    width: 7px;
}

.main .left::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f5f5f5;
}

.main .left:hover::-webkit-scrollbar-thumb{
    background: #cccccc;
}

.main .left .img{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.main .left .img:hover{
    background: #e3e3e3;
}

.main .left .img img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 8px 15px 8px 0;
}

.main .left hr{
    width: 100%;
    height: 1px;
    border: 0;
    background: #cccccc;
    margin: 10px 0
}

.main .left h2{
    font-size: 18px;
    color:#919191;
    margin: 5px 0;
}

.main .left .edit{
    color: #45abff;
    font-size: 15px;
    float: right;
    position: relative;
    bottom: 23px;
    cursor: pointer;
    opacity: 0;
}

.main .left:hover .edit{
    opacity: 1;
}

.main .left .shortcuts{
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.main .left .shortcuts:hover{
    background: #e3e3e3;
    cursor: pointer;
}

.main .left .shortcuts img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin: 8px 15px 8px 0;
}

.main .center{
    width: 750px;
    height: auto;
    padding: 20px 20px 0 20px;
    background: #f5f5f5;
    margin-left: 25%;
}

.main .center::-webkit-scrollbar{
    width: 0;
}

.main .center .top_box{
    width: 100px;
    height: 260px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}

.main .center .top_box .my_story_card{
    width: 135px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.main .center .top_box .my_story_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main .center .top_box .my_story_card .story_upload{
    width: 100%;
    height: 60px;
    background: #fff;
    position: relative;
    bottom: 50px;
    cursor: pointer;
}

.main .center .top_box .my_story_card .story_upload img{
    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 auto;
    position: relative;
    bottom: 15px;
    border-radius: 50%;
}
.main .center .top_box .my_story_card .story_upload .story_tag{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.main .center .top_box .story_card{
    width: 135px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.main .center .top_box .story_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main .center .top_box .story_card .story_profile{
    position: relative;
    bottom:240px;
    margin-left: 10px;
}

.main .center .top_box .story_card .story_profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #45abff;
}

.main .center .top_box .story_card .story_pofile .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid #fff;
    position: relative;
    bottom: 15px;
    left:25px;
}

.main .center .top_box .story_card .story_name{
    position: relative;
    bottom: 100px;
    padding: 0 10px;
}

.main .center .top_box .story_card .story_name .name{
    font-weight: bold;
    color:#fff;
    font-size: 14px;
}

.main .center .story_arrow{
    cursor: pointer;
}

.main .center .my_post{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    margin: 10px 0;
}
.main .center .my_post img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.main .center .my_post .post_top {
    display: flex;
    align-items: center;
}

.main .center .my_post .post_top input{
    width: 90%;
    padding: 10px;
    margin-left: 20px;
    border: 0;
    outline: none;
    background: #efefef;
    border-radius: 30px;
    font-size: 17px;
}

.main .center .my_post .post_top input:hover{
    background: #e3e3e3;
    cursor: pointer;
}

.main .center .my_post hr{
    width: 100%;
    height: 1px;
    background:#cccccc;
    border: 0;
    margin: 10px 0;
}

.main .center .my_post .post_bottom{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px auto;
}

.main .center .my_post .post_bottom .post_icon{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 5px 40px;
    cursor: pointer;
}

.main .center .my_post .post_bottom .post_icon:hover{
    background: #efefef;
    border-radius: 8px;

}

.main .center .my_post .post_bottom .post_icon i.red{
    font-size: 23px;
    color:red;
    margin-right: 8px;
}

.main .center .my_post .post_bottom .post_icon i.green{
    font-size: 23px;
    color:#27cc37;
    margin-right: 8px;
}

.main .center .my_post .post_bottom .post_icon i.yellow{
    font-size: 23px;
    color: #f7b928;
    margin-right: 8px;
}

.main .center .room {
    width: 100%;
    height: auto;
    background: #fff;
    box-sizing: 0 1px 8px rgba(0,0,0,0.2);
    padding: 10px 15px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.main .center .room .room_image{
    display: flex;
    align-items: center;
    border: 1px solid #45abff;
    padding: 10px;
    border-radius: 30px;
    width: 150px;
    margin-right: 5px;
}

.main .center .room .room_image:hover{
    background:#efefef;
    cursor: pointer;
}

.main .center .room .room_image img{
    width: 25px;
    margin: 8px;
}

.main .center .room .room_image .room_tag{
    color: #4abff4;
}

.main .center .room .room_profile img{
    width: 45px;
    border-radius: 50%;
    height: 45px;
    object-fit: cover;
    object-position: center;
    margin: 0 8px;
    border: 3px solid #45abff;
}

.main .center .friends_post{
    margin: 10px 0;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

.main .center .friends_post .friend_post_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main .center .friends_post .friend_post_top .img_and_name img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    cursor: pointer;
}

.main .center .friends_post .friend_post_top .img_and_name{
    display: flex;
    align-items: center;
}

.main .center .friends_post .friend_post_top .img_and_name .friends_name .friends_name{
    font-weight: bold;
    cursor: pointer;
}

.main .center .friends_post .friend_post_top .img_and_name .friends_name .friends_name:hover{
    text-decoration: underline;
}
.main .center .friends_post .friend_post_top .img_and_name .friends_name .time{
    font-size: 14px;
    color: #919191;
    margin: 3px 0;
}

.main .center .friends_post .friend_post_top .img_and_name .friends_name .time i{
    font-size: 10px;
    margin-left: 5px;

}

.main .center .friends_post .friend_post_top .menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.main .center .friends_post .friend_post_top .menu:hover{
    background: #efefef;
    cursor: pointer;
}

.main .center .friends_post .friend_post_top .menu i{
    line-height: 35px;
    margin-left: 8px;
    font-size: 18px;
}

.main .center .friends_post .img{
    width: 100%;
    border-radius: 10px;
}

.main .center .friends_post .img:hover{
    cursor: pointer;
}

.main .center .friends_post .description {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.main .center .friends_post .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 10px 0;
}

.main .center .friends_post .info .emoji_img{
    display: flex;
    align-items: center;
}

.main .center .friends_post .info .emoji_img .emoji{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.main .center .friends_post  hr{
    width: 100%;
    height: 1px;
    border: 0;
    background: #cccccc;
    margin: 10px 0
}

.main .center .friends_post .info p{
    color:#919191;
    margin-left: 5px;
    
}

.main .center .friends_post .info p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.main .center .friends_post .action{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 8px;
}

.main .center .friends_post .action .action{
    width: 100px;
    height: 60px;
    border-radius: 10px;
}
.main .center .friends_post .action .action i{
    font-size: 25px;
}
.main .center .friends_post .action .action:hover{
    background: #e3e3e3;
    color:#45abff;
    cursor: pointer;
    
}
.main .center .friends_post .action .action p:hover
{
    text-decoration: underline;
}
.main .center .friends_post .new_comment{
    width: 100%;
    height: 50px;
    background: #efefef;
    border-radius: 30px;
    display: flex;
}

.main .center .friends_post .new_comment input{
    background: transparent;
    outline: none;
    border: 0;
    font-size: 16px;
    width: 1500px;
    margin-left: 10px;
}

.main .center .friends_post .new_comment .img{
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    font-size: 25px;
}

.main .center .friends_post .new_comment .img i:hover{
    color:#45abff;
}



/*-----right----*/
.main .right{
    width: 23%;
    height: 92vh;
    overflow: hidden;
    overflow-y: scroll;
    background: #f5f5f5;
    position:fixed;
    margin-left: 1125px;
}

.main .right::-webkit-scrollbar{
    width: 7px;
}

.main .right::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f5f5f5;
}

.main .right:hover::-webkit-scrollbar-thumb{
    background: #cccccc;
}

.main .right hr{
    width: 100%;
    height: 1px;
    border: 0;
    background: #cccccc;
    margin: 10px 0;
}

.main .right .ads {
    display: inline;
    overflow-x: hidden;
}

.main .right .ads .qc{
    display: flex;
    align-items: center;
    margin: 10px;
    width: 100%;
    height: 110px;
    border-radius: 15px;
}

.main .right .ads .qc .text{
    margin-left: 15px;
}

.main .right .ads .qc img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 100%;
    border-radius: 15px;
    margin-left: 10px;
}

.main .right .ads .qc:hover{
    background:#e3e3e3;
    cursor: pointer;
}

.main .right .friends .user{
    display: flex;
    align-items: center;
    border-radius: 15px;
    width: auto;
}

.main .right .friends .user:hover{
    background: #e3e3e3;
    cursor: pointer;
}

.main .right .friends .user img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: 100%;
    border-radius: 50%;
}

.main .right .friends .user p{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    display:flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}

.main .right .friends .user .circle{
    background: #27cc37;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
}
.createPost{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    z-index: 9999;
    width: 1000px;
    height: 500px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

.createPost .background{
    width: 2000px;
    height: 2000px;
    background: #fff;
    opacity: 50%; 
    transform: translate(-20%, -50%);
    z-index: -9;
}

.createPost .close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #fff;
    background: #c92e2e;
    width: 30px;
    height: 30px;
    font-size: medium;
    border-radius: 50%;
    border-style: none;
    opacity: 95%;
    cursor: pointer;
    z-index: 1;
}

.createPost .close:hover{
    opacity: 100%;
    cursor: pointer;
}

.createPost .logo{
    width: 50px;
    z-index: 1;
    position: relative;
}

.createPost textarea{
    width: 100%;
    height: 80%;
    border-radius: 30px;
    background: #d9d9d9;
    outline: none;
    border: 0;
    padding: 0 10px;
    font-size: 15px;
    margin: 10px 0;
    z-index: 1;
    position: relative;
    padding: 20px;
}

.createPost .send{
    z-index: 1;
    position: relative;
    left: 95%;
    top: 5px;
    width: 50px;
    height: 30px;
    border-style: none;
    background: #a8eea5;
    border-radius: 30px;
    font-size: medium;
    font-weight: bold;
}

.createPost hr{
    width: 100%;
    height: 1px;
    border: 0;
    background: #cccccc;
    margin: 10px 0;
    z-index: 1;
    position: relative;
}